{{extend 'layout.html'}}
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style-login.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/materia.css')}}">	
</head>
<body>
	<div class="col-xs-12 col-md-12 col-md-offset-4 box">
		<center>
          <header style="font-size: 25px">Materias</header>
          </center> 
          <div style="text-align:center;">
          <a href="{{=URL('materiaController', 'matematica.html')}}"><button class="btn col-md-6 col-md-offset-2 btnFormat" >Matematica</button></a>
          <a href="{{=URL('materiaController', 'matematica.html')}}"><button class="btn col-md-6 btnFormat"> Lengua</button></a>
          <a href="{{=URL('materiaController', 'matematica.html')}}"><button class="btn col-md-6 btnFormat"> Geografia</button></a>
          <a href="{{=URL('materiaController', 'matematica.html')}}"><button class="btn col-md-6 btnFormat"> Musica</button></a>
          <a href="{{=URL('materiaController', 'matematica.html')}}"> <button class="btn col-md-6 btnFormat">Historia</button></a>
          <a href="{{=URL('materiaController', 'matematica.html')}}"><button class="btn col-md-6 btnFormat"> Cs. Naturales</button></a>
          
          </div>
	</div>
</body>