{{extend 'layout.html'}}
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style-login.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/apunte.css')}}">	
</head>
<body>
	<div class="col-xs-12 col-md-12 col-md-offset-4 box">
		<center>
          <header style="font-size: 25px">Matematicas</header>
          </center> 
          <div>
          <center>
          <h3>Nota General</h3>
          	
          </center>
          <HR>
          <div>
          <center>
          	
          <h2>7.9</h2>
          </center>	
          <center>
          <h3>Notas de Evaluaciones</h3>
          	
          </center>
          <HR>
          <center><h4>
               
          nota 1: 3
          <br>
          nota 2: 4
          </h4>
          </center>
          </div>
          </div>
	</div>
</body>