{{extend 'layout.html'}}
<head>
	<link rel="stylesheet" href="{{=URL('static','css/style-login.css')}}">
	<link rel="stylesheet" href="{{=URL('static','css/apunte.css')}}">	
</head>
<body>
	<div class="col-xs-12 col-md-12 col-md-offset-4 box">
		<center>
          <header style="font-size: 25px">Matematicas</header>
          </center> 
          <div>
          <center>
          <h3>Calendario</h3>
          	
          </center>
          <HR>
          <div>
          <center>
               <iframe style="width:500px;" src="https://calendar.google.com/calendar/embed?src=mkqdqggkabsem6e4f764edbl2g%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </center>
          </div>
          </div>
	</div>
</body>